/* izug.seantis.dir.events directory css */

/* start */

#landingPageIntro #landingPageText {
    width: 955px;
    float: none;
    padding: 0 !important;
    padding: 25px 15px 0 20px !important;
}

/* container */
#directoryInfo {
    margin-top: 15px !important;
}

/* columns */
.event-navigation {
   width: 150px;
   margin-right: 25px;
}

#directoryResultList {
    width: 400px !important; 
    margin-right: 25px;
}

.event-sidebar {
    width: 360px;
}

/* map */
#directoryResultMap {
    width: 100% !important;
    height: 300px !important;
    float: none !important;
}

#directoryResultMap #default-cgmap {
    height: 300px;   
}

/* event navigation */
.event-navigation {
   font-size: 10px;
}

.event-navigation h3 {
   font-size: 12px;
   font-weight: normal;   
   margin-bottom: 5px
}

.event-navigation dd {
    margin: 0 !important;
}

.event-navigation ul li {
    margin: 0 !important;   
}

.event-navigation ul li a.navTreeCurrentNode {
    font-weight: bold;   
}

/* submit your event */
.your-event {
    border: none;   
    padding: 0;
}

.your-event p {
    color: black;
    font-size: 11px;      
}

.your-event a {
    color: #0072ba !important;
}

/* map marker */
.directoryMarker {
    right: auto;
    left: -3px !important;
    top: 2px !important; 
}

/* events list */
#directoryResultList {
    border-top: none !important;   
}

#directoryResultList .eventgroup .event {
    margin-top: 5px;
}

#directoryResultList .eventgroup-title {
    background-color: #0072ba;
    border-radius: 0; 
    padding: 4px 10px;
    font-size: 13px;
    font-weight: normal;
}

#directoryResultList .directoryInfoText h3 {
    margin: 0;
}

#directoryResultList .directoryInfoText h3 a {
    padding: 0;
}

#directoryResultList .directoryResult:last-child .directoryInfoText {
    border-bottom: none;   
}

#directoryResultList .event-image {
    float: right;
    background: none;
    border: none;
    padding: 0;
    margin: 5px 0;
    
}

#directoryResultList .event-text {
    float: left;
    margin-left: 12px;
    width: 280px
}

#directoryResultList .timerange {
    font-size: 11px;
    color: black;
}

#directoryResultList .eventtags-list {
    margin-left: 12px;
}

/* submitted events */
#directoryResultList .event-state-submitted {
    background-color: white;   
}

/* event workflow */
.event-workflow .event-state {
    margin-left: 12px
}

.event-workflow .event-actions a {
    background-color: white !important;
    padding-right: 0 !important;
}

/* submit form */
form span.required {
    background-color: #ff1a12;
    height: 5px;
    width: 5px;
    position: relative;
    bottom: 1px;
    display: inline-block;
}